{:extra-paths ["/Users/dliman/.clojure"]
 :aliases {:new {:extra-deps {seancorfield/clj-new {:mvn/version "0.8.6"}}
                 :main-opts ["-m" "clj-new.create"]}
           :dev {:extra-paths ["/Users/dliman/.clojure"]}
           :tab {:extra-deps {io.github.eerohele/tab {:git/tag "2023-10-03.333", :git/sha "4bb3ede"}
                              cheshire/cheshire {:mvn/version "5.12.0"}
                              clj-http/clj-http {:mvn/version "3.12.3"}}}}}
